@import '../../assets/styles/device-types.scss';

.characters {
  &__group {
    @media (min-width: $desktop-width) {
      margin-top: 61px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px 20px;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}
